
body,html {
    background-color:white;
    height: 100%;
    margin: 0;
    background: linear-gradient(120deg, rgba(23, 190, 187, 1), rgba(240, 166, 202, 1));
}


/*** SCROLL BAR ***/
::-webkit-scrollbar {
    width: 5px;
    margin: 1rem 0;
    color: green;
  }

  ::-webkit-scrollbar-thumb {
    background: #2be24a9e;
    border-radius: 5px;
  }

/********** W H O L E    C H A T    C O N T A I N E R *********/
#chat {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000004A;
    opacity: 1;
    animation: animateZoom 1s;
    font-weight: 500;
    filter:blur(2px)
}

/***** D I F F E R E N T   S E C T I O N S ******/

section#person-list-section {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    overflow: auto;
    z-index: 2;
    background: linear-gradient(120deg, rgba(23, 190, 187, 1), rgba(240, 166, 202, 1));
    box-shadow: 0px 3px 6px #0000004A;
}

#close-person-list-section {
    display: block;
    text-align: end;
    padding: 10px;
    font-size: x-large;
    cursor: pointer;
    animation: animateZoom 0.5s;
}
#open-person-list-section {
    position: absolute;
    padding: 10px;
    font-size: x-large;
    cursor: pointer;
    animation: animateZoom 0.5s;
    z-index: 5;
}

#each-chat-options {
    list-style: none;
    padding-left: 0;
    font-family: "Poppins";
}

#each-chat-options li {
    border: 1px solid #7ced8f;
    margin: 1rem auto;
    width: 90%;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    background: white;
    outline: none;
    text-align: center;
}

#each-chat-options li:hover{
    box-shadow: 1px 3px 6px #7ced8f;
}



textarea {
    display: block;
    border: solid #0000002b 0.01rem;
    width: 100%;
    height: 2rem;
    margin: 0.1rem;
    border-radius: 5px;
}


/************************************************  M A I N    C H A T   C O N T A I N E R ******************************/
div#chat-window {
    width: 98%;
    height: 94%;
    background: rgba(255, 255, 255, 0.288);
    position: relative;
}
/* Chatter Box Main */

div#active-window {
    position: relative;
    text-align: center;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    font-family: 'Poppins';
    text-transform: capitalize;
    overflow: hidden;
    height: 30px;
}

/************ O U T P U T ***********/
div#room-chat, div#private-chat {
    width: auto;
    height: 96%;
    overflow: scroll;
    font-style: normal;
    font-weight: 100;
    padding: 1rem;
    position: relative;
    margin-left: 10px;
    background: linear-gradient(120deg, rgba(23, 190, 187, 0.6), rgba(240, 166, 202, 0.6));

    box-shadow: 0px 3px 6px #0000004A;
    opacity: 1;
    border-radius: 18px;
}

#room-chat p{
    color: rgba(0, 0, 0, 0.747);
    margin: 2px;
    font-family: "Poppins";
    font-size: smaller;
}

/* #room-chat div{
    animation: animateZoom 0.3s;
} */



/******** M E S S A G E   I N P U T *********/

/* INPUT ALIAS (USERNAME) */
input#alias {
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: 'Poppins';
    outline: none;
    height: 60px;
    overflow: auto;
    box-shadow: 1px 3px 5px rgb(124 237 143);
    border: 0.01rem solid #7ced8f;
    border-radius: 10px;
}

/* MESSAGE INPUT */
section#message-section {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 2rem 10px;
    height: 94%;
    width: 30vw;
    max-width: 350px;
    margin: 10px 0;
    border-radius:18px ;
    background: linear-gradient(120deg, rgba(23, 190, 187, 0.3), rgba(240, 166, 202, 0.6));
    box-shadow: 0px 3px 6px #0000004A;
}

#message{
    height: 200px;
    font-family: "Poppins";
    padding: 1rem;
    margin: auto;
    min-height: 10px;
    width: 96%;
    max-width: 100%;
    overflow: auto;
    outline: none;
    animation: decreaseHeight 0.5s;
}
#message:focus{
    animation: increaseHeight 0.5s;
    height: 300px;
}
#message::placeholder{
    font-family: "Poppins";
    padding: 1rem;
}

@keyframes increaseHeight{
    from {height: 200px;}
    to {height: 300px;}
}
@keyframes decreaseHeight{
    from {height: 300px;}
    to {height: 200px;}
}


/******* S E N D    B U T T O N ********* */
button#send {
    display: block;
    width: 80px;
    margin: 1rem auto 2px auto;
    border: solid #0000002b 0.001rem;
    border-radius: 12px;
    height: 50px;
    font-style: normal;
    font-family: 'POPPINS';
    font-weight: 100;
    background: #2be24a9e;
    font-size: large;
    cursor: pointer;
    color: white;
    outline: none;
}

/********************************************* H3 ADDED DURING CHAT  ************************************************/

.text-chat-container {
    width: 60%;
    padding: 10px;
    border: 0.001rem solid transparent;
    background: #ffffffad;
    outline: none;
    border-radius: 12px;
    box-shadow: 1px 2px 6px #ffffff63;
}

.textAliasHeader {
    margin: 0 0 5px 0;
    text-transform: capitalize;
    /* text-decoration: underline; */
    font-size: larger;
    font-family: 'POPPINS';
    font-style: normal;
    padding: 0 5px;
    color: black;
    letter-spacing: 1px;
}


.text-chat-container span {
    font-family: 'Poppins';
    overflow-wrap: break-word;
    font-size: 10px;
    color: #000000b8;
    text-transform: none;
}
/******* O U T P U T ******/
.output-left{
    margin: 10px auto;
    text-align: start;
    color: white;
}
.output-right{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px auto;
    text-align: start;
    color: white;
}


p {
    font-size: large;
    margin: 1% 0;
    padding: 0 1rem;
    color: #545353;
    font-family: auto;
}

#feedback {
    border: none;
    color: #808080eb;
}

/****************************************** P O P    U P     C O N T A I N E R *****************************/
#container {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(142, 145, 145, 0.445);
    opacity: 1;
    line-height: 40px;
    font-family: "Poppins"; 
    font-weight: 500;
}

#aliasInputContainer {
    width: 90vw;
    max-width: 483px;
    height: 90vh;
    max-height: 586px;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000004A;
    opacity: 1;
    border-radius: 18px;
    animation: animateZoom 1s;
    font-weight: 500;

}
@keyframes animateZoom{
    from{transform:scale(0)}
    to{transform:scale(1)}
}

#aliasInputContainer h3{
    text-align: left;
    font-size: 24px;
    letter-spacing: 0.8px;
    line-height: 42px;
    color: #000000;
    opacity: 1;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 5%;
    font-weight: 800;

}

.input-group.mb-3 {
    width: 90%;
    margin: auto;
}

#aliasInput {
    margin: auto;
    height: 50px;
}

::placeholder{
    font-family: "Poppins";
    font-family: 500; 
}

#aliasInputImg{
    height: 100%;
    max-height: 250px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#aliasInputAlert{
    width: 90%;
    margin: 10px auto 0 auto;
    padding: 2px;
}

p#note {
    color: black;
    font-family: 'Poppins';
    font-size: 12px;
    text-align: center;
    font-style: oblique;
}

/****************** S E C T I O N   P R I V A T E  C H A T S *********************/
.close-container{
    animation: close_container 0.5s;
}

@keyframes close_container {
    from { width: 300px;}
    to { width: 0;}
}

.open-container{
    animation: open_container 0.5s;
}

@keyframes open_container {
    from { width: 0;}
    to { width: 300px;}
}


/***************** A C T I V E    U S E R S    L I S T (RUNTIME)***/
/* user list */
#user-lists{
    border: 0.001rem solid #70dd85;
    padding: 10px;
    text-align: left;
    margin: auto;
    width: 90%;
    height: auto;
    max-height: 400px;
    overflow: auto;
    font-family: 'Poppins';
    border-radius: 10px;
    box-shadow: 3px 2px 3px #ffffff;
    background: white;
    animation: animateZoom 0.5s;
}

#user-lists h6{
    margin: 10px auto;
    cursor: pointer;
    text-transform: capitalize;
}

#user-lists h6:hover{
    background-color: violet;
    border-radius: 2px;
}


/********** HIDDEN INPUT (HELPFUL) **********/
input#selected-private-id {
    width: 90%;
    margin: 0 auto;
    height: 30px;
    display: none;
}

